html, body{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    height: 100%;
}

h1, h2, h3, h4{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 18px;
    line-height: 18px;
    margin: 9px 0px;
}

h3{
    font-size: 20px;
    margin: 0;
}

h4{
    font-size: 16px;
    margin: 8px 0px;
}

.mdl-button{
    padding: 0px 8px;
    margin-right: 8px;
    font-size: 12px;
    margin-bottom: 8px;
}

#control{
    width: 360px;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.5);
    float: left;
    padding: 18px;
    position: fixed;
}

#view{
    width: calc(100% - 396px);
    height: 100%;
    float: right;
}

#framePreview{
    width: 100%;
}

.devicePanel{
    background-color: rgba(200, 200, 200, 0.7);
    padding: 12px;
    margin-top: 12px;
    border-radius: 12px;
}

.close-btn{
    display: inline;
    float: right;
    margin-right: 0;
    background: rgba(255, 0, 0, 0.5);
    color: white;
    font-weight: bold;
}

.device-title{
    display: inline;
}

#connected-title{
    margin: 18px 0px;
}

#broadcast-addr{
    font-weight: bold;
}

.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.is-upgraded {
    width: 62%;
}

.mdl-textfield__label{
    font-size: 14px;
}

button#startServer{
    margin-left: 12px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.viewer{
    width: 95%;
    display: block;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
}

.viewer-img{
    width: 50%;
    height: auto;
}